

.plans{
  padding: 16px;
  border: 4px solid #0e4f1f;;
margin: 16px 0;
  width: 80%;


}
.plan{
  text-decoration: none;
  color: inherit;
}
.plans:hover,
.plans:active{
  box-shadow: 2px 2px 4px rgba(0, 0,0, 0.95);
  border-color: #ff5454;
}
.plan p{
  display: block;
  padding: 16px;
  border: 2px solid black;
  background:white;
  font-size: 20px;
  
}

.plan h2{
  color: #979797;
  ;
  
}
.top-plan{
  background: rgba(213,255,220,0.95);

}
.clearfix{
  clear: both;
}
.middle-plan{
  background: rgba(213, 213, 213, 0.95);
  float: right;
}
.bottom-plan{
  background: rgba(14,79,31, 0.95);

}
.bottom-plan h1{
  color:white;
}
.bottom-plan h2{
  color: #bbb;
}
main{
  padding: 32px;
}